* {
    margin: 0;
}

body {
    background-color: #111;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 5px solid black;
    padding: 20px;
    overflow-x: scroll;
}

section.geometry {
    margin: 0 6px;
    width: 680px;
    background-color: #DDD;
    font-size: 16px;
    padding: 0 12px;
}

section.geometry figure {
    text-align: center;
}

h2 {
    text-align: center;
    padding: 16px 0;
    font-family: 'Brush Script MT', cursive;
    font-size: 2em;
}

h3 {
    text-align: center;
    padding: 8px 0;
    font-family: Garamond, cursive;
}

.img1 {
    float: right;
}

.img2 {
    float: left;
}

table {
    border-collapse: collapse;
}

tbody {
    padding: 12px;
}

table > caption {
    text-align: left;
    font-size: .8em;
    padding-left: 5%;
}

table tr {
    padding: 8px;
}

p {
    text-indent: 2em;
    line-height: 1.4;
    text-align: justify;
    font-family: calibri, sans-serif;
}

.theorem {
    font-weight: 600;
    margin: 1em 0;
}

article {
    margin: 4em 0;
  }

.descr {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1em;
    font-weight: 900;
    color: #206cdf;
    cursor: pointer;
}

